.one{
    color: black;

    font-family: cursive;
    font-size: small;
    font-weight: 500;
    font-style: unset;
    text-align: left;
    background-color: slategrey;
    margin: 30px; 
    border: 40px solid whitesmoke;
    
    
    
    padding: 70px; 

}
.four{
    color:blue;
    text-align: center;
    
    font-weight: bolder;
    font-family: serif;
    

}
.five{
    color: black;
    background-color: khaki;
    text-align: left;
    font-family: monospace;
    font-size: medium;
    font-style: inherit;
    font-weight: bold;
    margin: 40px; 
    border: 30px dotted azure;
    border: radius 50px; 
    
}
.eight{
    color: black;
    background-color: lavenderblush;
    text-align: left;
    font-family: cursive ;
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
    margin: 40px;
    border: 30px double black;
    border: radius 50px; 
    padding: 20px;


}
.seven{
    color: black;
    font-family: cursive;
}
.two{
    color: black;
    font-family: fantasy;
}
.six{
    color: black;
    font-family: fantasy;

}
.ten{
    color: black;
    font-family: fantasy;
}

