
.a{
    background-color: black;
    color:white;
    display: flex;
    justify-content: space-around;
    width: 700px;
    height: 600px;
    

}
body{
    margin: 20px;
}
.a1{
    background-color:seagreen ;
    width: 150px;
    padding: 10px;
}
.a2{
    background-color: seagreen;
    width: 150px;
}

.a3{
    background-color:seagreen;
    width: 150px;
}
h3{
  font-family: cursive
}
h3{
    text-align: center;
}
h4{
    text-align: left;
}
